.header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Mobile default: vertical */
    align-items: center;
  }
  
  /* ... other styles ... */
  
  .hamburgerButton {  /* Mobile default: visible */
    display: flex; /* Or whatever display you need */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .nav-links {
    display: none; /* Oculto por defecto en móvil */
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0%); /* O la forma que uses para ocultar */
}

.nav-links.nav-open {
    transform: translateY(0);
    display: flex; /* Asegura que se muestre cuando está abierto en móvil */
}

  


@media (min-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .hamburgerButton{
        display: none;
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-grow: 0.5;
      transform: translateY(0); /* Resetea la transformación en escritorio */
    }
}